wheel
coreapi
Django~=3.2
django-admin-searchable-dropdown
django-cors-headers
django-dotenv
djangorestframework
djangorestframework-simplejwt
gunicorn
Jinja2
Pillow
psycopg2-binary
PyJWT
pytz
PyYAML
requests
drf-yasg[validation]
djangorestframework-camel-case
django-debug-toolbar
django-imagekit
sentry-sdk
django-filter
django-model-utils
django-cte
git+https://github.com/Vadee-art/django-cities-light.git@0.1.0
web3
django_safe_settings
coincurve==15.0.1
eip712-structs==1.1.0